table {
  border-collapse: collapse;
  width: 100%;
}
.table thead th {
  vertical-align: bottom;
  border: 1px solid #bcd0e4;
  border-bottom: 2px solid #c2d3e6;
}
th{
  background: #dce9fd;
  color: #0e1840;
}
table, th, td {
  border: 1px solid #cad0e2;
}
th, td {
  padding: 15px;
  text-align: left;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(91, 129, 177, 0.05);
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.status-bar{
  margin-top:5px;
  height: 10px;
  width: 100%;
  display: flex;
}
.approved{
  background: rgb(6, 150, 42);
}
.waiting{
  background: rgb(243, 170, 13);
}
.rejected{
  background: rgb(243, 13, 36);
}
