/** global styles */
body {
  font-family: 'Roboto Condensed', sans-serif !important;
}
.font-size-sm{
  font-size: 13px;
}

.font-size-sm-b{
  font-size: 13px;
  font-weight: 600;
}

.font-size-md{
  font-size: 15px;
}

.font-size-md-b{
  font-size: 15px;
  font-weight: 600;
}

.margin-padding-none{
  margin: 0;
  padding: 0;
}
